<p>
    This program is developed on Angular 8. It makes a facility for users to manage their recipe book. 
    The <a href="https://developers.google.com/web/ilt/pwa/working-with-indexeddb" target="_blank" >indexeddb</a> has been used for storing the data. 
    This app has enriched by the <a href="https://ng-bootstrap.github.io/" target="_blank" >ng-bootstrap</a> library. 
    The source code is available on  
    <a href="https://github.com/mehdijk/angular8-recipe-example-app" target="_blank" >this</a> repository.
</p>

