<nav class="navbar navbar-expand-md navbar-dark mb-2"
    style="background:linear-gradient(135deg,#0143a3,#0273d4);">
    <a class="navbar-brand" href="#">
            <img src="assets/img/recipe-book-logo.png" alt="Logo" style="width:40px;">
          </a>
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#collapsibleNavbar" 
    (click)="isNavbarCollapsed = !isNavbarCollapsed" >
            <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li [ngClass]="{'nav-item':true, 'active': activeName==='home'}">
                <a class="nav-link" (click)="linkClick('home')">Home</a>
            </li>
            <li [ngClass]="{'nav-item':true, 'active': activeName==='add'}">
                    <a class="nav-link" (click)="linkClick('add')">Add</a>
            </li>
            <li [ngClass]="{'nav-item':true, 'active': activeName==='about'}">
                <a class="nav-link" (click)="linkClick('about')">about</a>
            </li>
        </ul>
    </div>
</nav>
