<h2>Recipes List</h2>
<ngb-accordion [closeOthers]="true">
  <ng-container *ngFor="let recipe of recipes" >
    <ngb-panel id="{{recipe.id}}" >
      <ng-template ngbPanelTitle  >
        <div class="d-flex" style="margin:-5%">
        <img src={{recipe.thumbImageUrl}} (error)="imageNotFound($event)" 
        class="rounded float-left mr-2" 
        style="width:15vw;max-width:80px;">
        <div class="d-flex flex-column justify-content-center"> {{recipe.name}}</div>
      </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row text-secondary">
          <div class="col-sm-6"><h6>Cooking time: {{recipe.cookingTime}} min</h6></div>
          <div class="col-sm-6"><h6>Serves: {{recipe.serves}} person</h6></div>
        </div>
        <div class="row">
          <div class="col text-justify">
            <h5>Directions</h5>{{recipe.direction | slice : 1:200}}...
            <a routerLink="/detail/{{recipe.id}}">more</a>
            <div>
              <button type="button" class="btn btn-primary"
              (click)="edit(recipe.id)">Edit</button>
              <button type="button" class="btn btn-primary ml-2"
              (click)="delete(content,recipe.id)">Delete</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ng-container>
</ngb-accordion>


<ng-template #content let-modal>
    <div class="modal-header bg-danger ">
      <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.close('no')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure to delete this recipe?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Yes</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('no')">No</button>
    
    </div>
</ng-template>
